

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 30px;

    z-index: 0;
}

@media (min-width: 500px) and (max-width: 749px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-container {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
}


.profile-info {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.profile {
    width: 36px;
    object-fit: cover;
    border-radius: 36px;
    cursor: pointer;
}

.video-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.author {
    color: grey;
    margin-bottom: 7px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.stats {
    color: grey;
    font-size: 12px;
    font-weight: 400;
}

.thumbnail-row {
    position: relative;
}

.video-time {
    position: absolute;
    bottom: 25px;
    right: 5px;

    background-color: black;
    color: white;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight: 500px;
    padding: 0 3px;
    border-radius: 2px;
}
