.header {
    display: flex;
    flex-direction: row;

    height: 57px;
    background-color: white;
    

    position: fixed;
    right: 0;
    left: 0;
    top:0;

    z-index: 100;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 213, 213);
}

.left-section {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.middle-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    justify-content: center;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: rgb(192, 192, 192);
    max-width: 350px;
    padding-left: 10px;
    box-shadow: inset 0 0 3px rgb(0, 0, 0, 0.2)
}

.search-bar::placeholder {
    font-size: 16px;
    font-family: roboto, arial;
}


.search {
    margin-top: 3px;
    height: 25px;
}

.search-button {
    height: 44px;
    width: 60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: rgb(192, 192, 192);
    margin-left: -3px;
    margin-right: 10px;
    cursor: pointer;
}

.search-button .tooltip {
    position: absolute;
    background-color: rgb(138, 137, 137);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 2px;
    bottom: -40px;
    font-family: roboto, arial;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: 0.15s;
}

.search-button:hover .tooltip {
    opacity: 1;
}

.voice-search-button, .seach-button {
    position: relative;
}

.voice-search-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
 
}

.voice-search-button .tooltip {
    position: absolute;
    background-color: rgb(138, 137, 137);
    color: white;
    padding: 5px 5px;
    font-family: roboto, arial;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    pointer-events: none;
    border-radius: 2px;
    white-space: nowrap;
    transition: 0.15s;
}

.voice-search-button:hover .tooltip {
    opacity: 1;
}

.voice-search-icon {
    height: 25px;
}

.right-section {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width:200px;
}

.upload {
    height: 24px;
    cursor:pointer;
}

.upload-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.upload-tooltip .tooltip {
    position: absolute;
    background-color: rgb(138, 137, 137);
    color: white;
    font-family: roboto, arial;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 2px;
    bottom: -50px;
    pointer-events: none;
    opacity: 0;
    transition: 0.15s;
}

.upload-tooltip:hover .tooltip {
    opacity: 1;
}


.youtube-apps {
    height: 24px;
    cursor: pointer;
}

.youtube-apps-tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube-apps-tooltip .tooltip {
    position: absolute;
    font-family: roboto, arial;
    font-size: 12px;
    background-color: rgb(138, 137, 137);
    color: white;
    white-space: nowrap;
    padding: 10px 10px;
    border-radius: 2px;
    bottom: -50px;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
}

.youtube-apps-tooltip:hover .tooltip {
    opacity: 1;
}
.notifications {
    height: 24px;
}

.notification-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    cursor: pointer;
}

.notification-count-container .tooltip {
    position: absolute;
    background-color: rgb(138, 137, 137);
    color: white;
    font-family: roboto, arial;
    font-size: 12px;
    border-radius: 2px;
    padding: 5px 5px;
    bottom: -40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
}

.notification-count-container:hover .tooltip {
    opacity: 1;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(207, 16, 16);
    color: white;
    font-family: roboto, arial;
    font-size: 11px;
    padding: 1px 4px;
    border-radius: 10px;
}

.my-channel {
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.left-sidebar {
    width: 72px;
    background-color: white;

    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;

    z-index: 101;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76px;
    font-size: 10px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235)
}

.sidebar-link img {
    height: 30px;
    margin-bottom: 5px;
}
